<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>
<form action="/addUser" method="post">
    <label>User ID:</label>
    <input type="text" name="userId"><br><br>
    <label>Name:</label>
    <input type="text" name="name"><br><br>
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <label>Role:</label>
    <input type="text" name="role"><br><br>
    <label>Created Date:</label>
    <input type="date" name="createdDate"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>